Repository yeisme/NoteVault: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, golangci-lint-fmt, go-mod-tidy

golangci-lint:
  name: golang-lint
  description: Run golangci-lint to check Go code quality.
  entry: golangci-lint run --fix
  language: system
  pass_filenames: false

golangci-lint-fmt:
  name: golang-lint-fmt
  description: Run golangci-lint fmt to format Go code.
  entry: golangci-lint fmt .
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  description: Run 'go mod tidy' to clean up go.mod.
  entry: go mod tidy
  language: system
  pass_filenames: false

feat: Add metrics support for database and message queue
  configs/config.yaml
  go.mod
  go.sum
  pkg/app/app.go
  pkg/cmd/cmd.go
  pkg/configs/mq.go
  pkg/context/context.go
  pkg/internal/storage/db/db.go
  pkg/internal/storage/mq/mq.go
  pkg/internal/storage/mq/nats.go
  pkg/internal/storage/s3/s3.go
  pkg/internal/storage/storage.go
  pkg/middleware/middleware.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

feat(middleware): 添加 pprof 支持和改进指标记录功能
  .golangci.yaml
  configs/config.yaml
  pkg/app/app.go
  pkg/cmd/cmd.go
  pkg/configs/metrics.go
  pkg/metrics/metrics.go
  pkg/middleware/cors.go
  pkg/middleware/middleware.go
  pkg/middleware/prometheus.go
  pkg/middleware/tracing.go
  pkg/middleware/zerolog.go
Due: golangci-lint, golangci-lint-fmt

feat: 更新配置文件，添加监控和日志支持，添加 Docker 配置和 docker-compose 启动调试服务
  .dockerignore
  Dockerfile
  configs/config.yaml
  docker-compose.yml
  monitoring/prometheus.yml
  pkg/app/app.go
  pkg/configs/metrics.go
  pkg/configs/s3.go
  pkg/internal/storage/mq/mq.go
  pkg/log/log.go
  pkg/metrics/metrics.go
  pkg/middleware/zerolog.go
  readme.md
  scripts/init.sql
Due: golangci-lint, golangci-lint-fmt

feat: 移除 sql 文件初始化
  scripts/init.sql
Due: none

feat: 更新 README，推荐使用 Docker Compose 进行本地开发并添加本地开发步骤
  readme.md
Due: none

feat: 添加 router 接口抽象，api 层路由组注册函数，handle 层默认实现
  .gitignore
  Taskfile.yml
  pkg/api/api.go
  pkg/app/app.go
  pkg/internal/handle/files.go
  pkg/internal/handle/handle.go
  pkg/internal/router/router.go
  pkg/internal/storage/mq/logger_adapter.go
  pkg/internal/storage/mq/nats.go
Due: golangci-lint, golangci-lint-fmt

feat(log): 添加gin调试模式和发布模式设置支持
  pkg/log/log.go
Due: golangci-lint, golangci-lint-fmt

Revert "feat: 添加 router 接口抽象，api 层路由组注册函数，handle 层默认实现"
  .gitignore
  Taskfile.yml
  pkg/api/api.go
  pkg/app/app.go
  pkg/internal/handle/files.go
  pkg/internal/handle/handle.go
  pkg/internal/router/router.go
  pkg/internal/storage/mq/logger_adapter.go
  pkg/internal/storage/mq/nats.go
Due: golangci-lint, golangci-lint-fmt

feat(metrics): 添加 metrics 服务器支持和 pprof 端点，并注册到一个 http.ServeMux
  .gitignore
  Taskfile.yml
  pkg/app/app.go
  pkg/metrics/metrics.go
Due: golangci-lint, golangci-lint-fmt

feat(middleware): 添加 StorageMiddleware 以管理存储上下文
  pkg/app/app.go
  pkg/middleware/storage.go
Due: golangci-lint, golangci-lint-fmt

feat(cmd): 将初始化配置转移到rootCmd的PersistentPreRun，确保 configCmd 命令能正常加载配置
  pkg/app/app.go
  pkg/cmd/cmd.go
Due: golangci-lint, golangci-lint-fmt

feat(api): 注册健康检查路由和默认处理器
  pkg/api/api.go
  pkg/app/app.go
  pkg/configs/mq.go
  pkg/internal/handle/handle.go
  pkg/internal/handle/health.go
  pkg/internal/router/router.go
  pkg/internal/service/file.go
  pkg/internal/storage/mq/mq.go
  pkg/internal/storage/storage.go
Due: golangci-lint, golangci-lint-fmt

feat(app): 完善 app 设计
  Taskfile.yml
  configs/config.yaml
  pkg/app/app.go
  pkg/configs/metrics.go
  pkg/configs/mq.go
  pkg/internal/handle/file.go
  pkg/internal/handle/handle.go
  pkg/internal/handle/health.go
  pkg/internal/router/router.go
  pkg/internal/service/file.go
  pkg/internal/storage/db/db.go
  pkg/internal/storage/mq/logger_adapter.go
  pkg/internal/storage/mq/mq.go
  pkg/internal/storage/mq/nats.go
  pkg/internal/storage/s3/s3.go
  pkg/internal/storage/storage.go
  pkg/internal/types/file.go
  pkg/internal/types/types.go
  pkg/log/log.go
Due: golangci-lint, golangci-lint-fmt

feat(router): 分解 RegisterRoutes 中的 gin 路由注册到多个文件中
  pkg/internal/router/files.go
  pkg/internal/router/health.go
  pkg/internal/router/router.go
  pkg/internal/router/shares.go
  pkg/internal/router/stats.go
  pkg/internal/router/trash.go
Due: golangci-lint, golangci-lint-fmt

feat(service): 添加批量上传文件的预签名 URL 生成策略
  go.mod
  pkg/internal/handle/file.go
  pkg/internal/router/files.go
  pkg/internal/service/file.go
  pkg/internal/service/files.go
  pkg/internal/storage/s3/s3.go
  pkg/internal/types/file.go
  pkg/internal/types/files.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

feat(handle): 更新上传文件请求的绑定方式，确保请求体解析正确
  pkg/internal/handle/file.go
  pkg/internal/handle/file.http
  pkg/internal/types/files.go
Due: golangci-lint, golangci-lint-fmt

fix(handle): 修改 handle 包中 file.go 重命名为 files.go，方便管理
  pkg/internal/handle/files.go
  pkg/internal/handle/files.http
Due: golangci-lint, golangci-lint-fmt

feat(handle): 实现 handle.GetDownloadURL 获取文件访问URL (单个/批量) 的逻辑
  pkg/internal/handle/files.go
  pkg/internal/handle/files.http
  pkg/internal/router/files.go
  pkg/internal/service/files.go
  pkg/internal/types/files.go
Due: golangci-lint, golangci-lint-fmt

feat(app): 增强 nats 的 Prometheus 、监控、调试、追踪和日志等功能
  configs/nats.conf
  docker-compose.yml
  monitoring/prometheus.yml
Due: none

feat(handle): 修改 buildObjectKey 中的对象存储 key 生成，移除 uuid ，方便后面版本控制
  pkg/internal/service/files.go
Due: golangci-lint, golangci-lint-fmt

feat(handle): 完善 handle.UploadFileURL 上传文件 (生成预签名 PUT URL,不带有策略)
  .golangci.yaml
  pkg/internal/handle/files.go
  pkg/internal/router/files.go
  pkg/internal/service/files.go
  pkg/internal/storage/mq/mq.go
  pkg/internal/types/files.go
Due: golangci-lint, golangci-lint-fmt

feat(router): 完善 files trash stats shares 路由设计
  pkg/internal/handle/files.go
  pkg/internal/router/files.go
  pkg/internal/router/shares.go
  pkg/internal/router/stats.go
  pkg/internal/router/trash.go
Due: golangci-lint, golangci-lint-fmt

feat(router): 实现 swagger 服务，在 debug 模式下可访问
  Taskfile.yml
  cmd/notevault/main.go
  configs/config.yaml
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  pkg/api/api.go
  pkg/app/app.go
  pkg/internal/handle/files.go
  pkg/internal/handle/health.go
  pkg/internal/router/swag.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

feat(middleware): 更新 CORS 中间件以支持配置化，增强灵活性
  go.mod
  go.sum
  pkg/app/app.go
  pkg/middleware/cors.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

fix(app): 使用 errgroup 简化 app.Run() 代码逻辑
  pkg/app/app.go
Due: golangci-lint, golangci-lint-fmt

feat(storage): 添加 kv 配置及接口，并提供 redis groupcache nats 三个实现
  configs/config.yaml
  go.mod
  go.sum
  pkg/configs/config.go
  pkg/configs/kv.go
  pkg/internal/storage/kv/groupcache.go
  pkg/internal/storage/kv/kv.go
  pkg/internal/storage/kv/nats_kv.go
  pkg/internal/storage/kv/redis.go
  pkg/internal/storage/mq/nats.go
  pkg/internal/storage/storage.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

feat(cache): 通过 storage 层的 kv Client 创建缓存层
  Taskfile.yml
  cmd/notevault/main.go
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/context/context.go
Due: golangci-lint, golangci-lint-fmt

feat(cache): 周期性清理任务，添加创建缓存实例tops
  pkg/cache/cache.go
  pkg/internal/storage/kv/kv.go
Due: golangci-lint, golangci-lint-fmt

feat(middleware): cache 缓存中间件
  pkg/middleware/cache.go
Due: golangci-lint, golangci-lint-fmt

fix(app): 修复 bug
  go.mod
  pkg/app/app.go
  pkg/configs/kv.go
  pkg/internal/storage/kv/kv.go
  pkg/internal/storage/storage.go
  pkg/middleware/cors.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

feat(storage): 添加 redis 实现 mq，添加 sync.Map 实现 memory kv 操作
  configs/config.yaml
  pkg/configs/mq.go
  pkg/internal/storage/kv/kv.go
  pkg/internal/storage/kv/memory.go
  pkg/internal/storage/mq/redis.go
Due: golangci-lint, golangci-lint-fmt

feat(config): 更新 MQ 配置，支持 Redis 和 NATS，添加相关验证和工厂函数
  .gitignore
  configs/config.yaml
  configs/configs-sqlite.yaml
  pkg/configs/mq.go
  pkg/internal/storage/mq/mq.go
  pkg/internal/storage/mq/nats.go
  pkg/internal/storage/mq/redis.go
Due: golangci-lint, golangci-lint-fmt

feat(handle): 实现小文件上传 (single, batch)
  .golangci.yaml
  pkg/internal/handle/files.go
  pkg/internal/handle/files.http
  pkg/internal/router/files.go
  pkg/internal/service/files.go
  pkg/internal/types/files.go
Due: golangci-lint, golangci-lint-fmt

feat(metadata): 添加 last_modified 字段到上传文件元数据，并且将 service 层中的 files.go 内部函数迁移到 file_helper.go
  pkg/internal/handle/files.go
  pkg/internal/handle/files.http
  pkg/internal/service/file_helper.go
  pkg/internal/service/files.go
  pkg/internal/types/files.go
Due: golangci-lint, golangci-lint-fmt

test(files): 分解 files.http 并放在 test/files 目录中
  pkg/internal/handle/files.http
  test/files/download_url.http
  test/files/upload_batch.http
  test/files/upload_single.http
  test/files/upload_urls.http
  test/files/upload_urls_policy.http
Due: none

feat(folder): 实现文件夹管理功能，包括创建、重命名和删除文件夹的 API
  pkg/internal/handle/files.go
  pkg/internal/router/files.go
  pkg/internal/service/file_helper.go
  pkg/internal/service/files.go
  pkg/internal/types/files.go
Due: golangci-lint, golangci-lint-fmt

feat(folder): 添加文件夹删除和重命名功能，支持递归删除和错误处理
  pkg/internal/service/files.go
  pkg/internal/types/files.go
  test/files/folder_create.http
  test/files/folder_delete.http
  test/files/folder_management.http
  test/files/folder_rename.http
Due: golangci-lint, golangci-lint-fmt

refactor(handle): 重构 files handle 及其涉及的 service types 中的 files.go 为多个子文件
  pkg/internal/handle/files_download.go
  pkg/internal/handle/files_folder.go
  pkg/internal/handle/files_upload.go
  pkg/internal/service/file_helper.go
  pkg/internal/service/files.go
  pkg/internal/service/files_download.go
  pkg/internal/service/files_folder.go
  pkg/internal/service/files_operations.go
  pkg/internal/service/files_upload.go
  pkg/internal/types/files.go
  pkg/internal/types/files_download.go
  pkg/internal/types/files_folder.go
  pkg/internal/types/files_operations.go
  pkg/internal/types/files_upload.go
Due: golangci-lint, golangci-lint-fmt

feat(download): 实现文件下载功能，支持单文件和批量打包下载
  pkg/internal/handle/files_download.go
  pkg/internal/router/files.go
  pkg/internal/service/files_download.go
  pkg/internal/types/files_download.go
Due: golangci-lint, golangci-lint-fmt

feat(router): 更新文件操作路由，添加文件删除、更新元数据、复制和移动功能
  pkg/internal/handle/files_operations.go
  pkg/internal/router/files.go
Due: golangci-lint, golangci-lint-fmt

Path conditions:
  golangci-lint: any of: \.go$
  golangci-lint-fmt: any of: \.go$
  go-mod-tidy: any of: ^go\.mod$
