Repository yeisme/NoteVault: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, golangci-lint-fmt, go-mod-tidy

.pre-commit-config.yaml:

# .pre-commit-config.yaml

repos:
  # =================================================================
  # 通用 Hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace # 删除行尾空格
      - id: check-yaml # 检查 YAML 文件语法
      - id: check-json # 检查 JSON 文件语法
      - id: check-merge-conflict # 防止合并冲突标记被提交
      - id: check-added-large-files # 防止提交大文件

  # =================================================================
  # Golang 本地 Hooks
  - repo: local
    hooks:
      - id: golangci-lint
        name: golang-lint
        description: "Run golangci-lint to check Go code quality."
        entry: golangci-lint run --fix
        language: system
        types: [go]
        pass_filenames: false

      - id: golangci-lint-fmt
        name: golang-lint-fmt
        description: "Run golangci-lint fmt to format Go code."
        entry: golangci-lint fmt .
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        description: "Run 'go mod tidy' to clean up go.mod."
        entry: go mod tidy
        language: system
        files: ^go\.mod$
        pass_filenames: false

feat(handle): 添加获取用户当月文件列表的功能，支持年份和月份查询参数
  pkg/internal/handle/files_list.go
  pkg/internal/router/files.go
  pkg/internal/service/files.go
  pkg/internal/types/files_list.go
Due: golangci-lint, golangci-lint-fmt

docs: 更新 swagger 文档
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  pkg/internal/handle/files_list.go
Due: golangci-lint, golangci-lint-fmt

feat(versioning): 添加文件版本管理功能，包括获取、创建、删除和恢复文件版本的接口
  pkg/internal/handle/files_versions.go
  pkg/internal/router/files.go
  pkg/internal/service/files_versions.go
  pkg/internal/types/files_versions.go
Due: golangci-lint, golangci-lint-fmt

feat(metadata): 添加文件元数据管理功能，包括获取、创建、更新、删除和批量获取接口
  pkg/internal/handle/files_meta.go
  pkg/internal/handle/files_operations.go
  pkg/internal/router/files.go
  pkg/internal/types/files_meta.go
Due: golangci-lint, golangci-lint-fmt

feat(queue): 添加消息主题常量，支持发布/订阅功能
  pkg/internal/handle/files_list.go
  pkg/internal/storage/mq/mq.go
  pkg/queue/payloads.go
  pkg/queue/queue.go
  pkg/queue/topics.go
Due: golangci-lint, golangci-lint-fmt

ci(docker): 添加 docker 环境下部署的 docker-compose 文件，同时完善相关配置
  Dockerfile
  configs/config.docker.yaml
  configs/nats.conf
  docker-compose.yml
  docker/docker-compose.app.yml
  monitoring/prometheus.yml
  monitoring/tempo.yaml
Due: none

feat(docker): 更新 docker-compose.deploy.yml 文件，添加应用端口和健康检查配置 1. 更新仪表板配置，添加 NoteVault 标签和面板 2: 更新 Prometheus 配置，添加 NATS 监控任务 3: 更新配置，使用 loki、promtail ，添加 Docker 日志抓取支持
  .dockerignore
  configs/nats.conf
  docker/docker-compose.deploy.yml
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/dashboards/notevault-logs.json
  monitoring/grafana/provisioning/dashboards/notevault-overview.json
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/loki/config.yaml
  monitoring/prometheus.yml
  monitoring/promtail/config.yml
  monitoring/tempo.yaml
Due: none

feat(hot-reload): 添加热加载配置功能，支持动态更新配置而无需重启应用
  docker-compose.yml
  docs/hot-reload.md
  pkg/app/app.go
  pkg/cmd/cmd.go
  pkg/configs/config.go
  pkg/internal/storage/db/db.go
  pkg/internal/storage/mq/mq.go
  pkg/internal/storage/storage.go
Due: golangci-lint, golangci-lint-fmt

fix(redis): 添加日志记录以处理 Redis 订阅者关闭时的错误
  pkg/internal/storage/mq/redis.go
Due: golangci-lint, golangci-lint-fmt

feat(cmd): 添加 KV 和 MQ 相关命令，支持列出注册的类型
  pkg/app/app.go
  pkg/cmd/cmd.go
  pkg/cmd/db.go
  pkg/cmd/kv.go
  pkg/cmd/mq.go
  pkg/internal/storage/mq/mq.go
Due: golangci-lint, golangci-lint-fmt

feat(middleware): 添加速率限制和熔断器配置，支持动态配置管理
  configs/config.yaml
  go.mod
  go.sum
  pkg/app/app.go
  pkg/configs/circuitbreaker.go
  pkg/configs/config.go
  pkg/configs/ratelimit.go
  pkg/middleware/circuit_breaker.go
  pkg/middleware/rate_limit.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

feat(files): 实现文件搜索功能，支持关键字、前缀、分类和大小过滤；实现文件元数据同步到数据库（支持指定年月日）
  cmd/notevault/main.go
  pkg/app/app.go
  pkg/internal/handle/files_list.go
  pkg/internal/handle/files_meta.go
  pkg/internal/model/file.go
  pkg/internal/router/files.go
  pkg/internal/service/files.go
  pkg/internal/types/files_search.go
  test/files/search.http
Due: golangci-lint, golangci-lint-fmt

feat(kv): 添加 TTL 支持，优化内存和 NATS 存储的过期处理；新增基准测试
  docs/kv-doc.md
  pkg/internal/storage/kv/docker-compose.yaml
  pkg/internal/storage/kv/groupcache.go
  pkg/internal/storage/kv/kv_test.go
  pkg/internal/storage/kv/memory.go
  pkg/internal/storage/kv/nats_kv.go
  pkg/internal/storage/kv/ttl.go
Due: golangci-lint, golangci-lint-fmt

feat(share)：实现分享管理功能
  pkg/app/app.go
  pkg/internal/handle/shares.go
  pkg/internal/model/share.go
  pkg/internal/router/shares.go
  pkg/internal/service/shares.go
  pkg/internal/types/shares.go
Due: golangci-lint, golangci-lint-fmt

doc: 在README中补充微服务架构与API设计原则的未来规划
  readme.md
Due: none

feat(docker): 添加 Kafka 和 PostgreSQL 支持，更新 Docker 配置文件
  Dockerfile
  docker/kafka-mysql/config.docker.yaml
  docker/kafka-mysql/docker-compose.yml
  docker/redis-nats/config.docker.yaml
  docker/redis-nats/docker-compose.yml
  pkg/cmd/cmd.go
Due: golangci-lint, golangci-lint-fmt

feat(share): 完善文件删除和元数据同步功能，支持分享失效处理
  docs/kv-doc.md
  pkg/internal/handle/files_meta.go
  pkg/internal/service/files_folder.go
  pkg/internal/service/files_operations.go
  pkg/internal/service/shares.go
Due: golangci-lint, golangci-lint-fmt

feat(trash)：新增TrashService服务，支持软删除功能管理已删除文件
  pkg/cache/cache.go
  pkg/cmd/configs.go
  pkg/internal/handle/files_download.go
  pkg/internal/handle/files_list.go
  pkg/internal/handle/files_meta.go
  pkg/internal/handle/files_operations.go
  pkg/internal/handle/files_upload.go
  pkg/internal/handle/files_versions.go
  pkg/internal/handle/trash.go
  pkg/internal/model/share.go
  pkg/internal/router/trash.go
  pkg/internal/service/files.go
  pkg/internal/service/files_download.go
  pkg/internal/service/files_operations.go
  pkg/internal/service/files_versions.go
  pkg/internal/service/shares.go
  pkg/internal/service/trash.go
  pkg/internal/storage/kv/ttl.go
  pkg/internal/types/files_download.go
  pkg/internal/types/files_meta.go
  pkg/internal/types/files_search.go
  pkg/internal/types/files_versions.go
  pkg/internal/types/shares.go
  pkg/internal/types/trash.go
  pkg/queue/queue.go
Due: golangci-lint, golangci-lint-fmt

feat(stats): 添加文件和存储统计功能，新增相关路由和服务
  go.mod
  pkg/internal/handle/shares.go
  pkg/internal/handle/stats.go
  pkg/internal/handle/trash.go
  pkg/internal/model/share.go
  pkg/internal/router/stats.go
  pkg/internal/service/stats.go
  pkg/internal/types/stats.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

feat(stats): 重构统计处理逻辑，新增上传范围统计功能，优化路由注册
  pkg/internal/handle/stats.go
  pkg/internal/router/stats.go
  pkg/internal/service/stats.go
Due: golangci-lint, golangci-lint-fmt

test: 新增多个HTTP测试文件，涵盖健康检查、分享管理和统计功能
  test/health.http
  test/shares/create.http
  test/shares/delete.http
  test/shares/detail_access_download.http
  test/shares/list.http
  test/shares/permissions.http
  test/stats/dashboard.http
  test/stats/files.http
  test/stats/storage.http
  test/stats/uploads.http
Due: none

chore(license): add MIT license file
  LICENSE
Due: none

feat(queue): 添加对象存储事件发布功能，优化元数据同步后处理流程
  pkg/internal/service/files.go
  pkg/queue/queue.go
  pkg/queue/topics.go
Due: golangci-lint, golangci-lint-fmt

fix(queue): 修复代码注释中的标点符号，确保一致性. 完善 queue 包设计.
  pkg/internal/handle/stats.go
  pkg/internal/handle/trash.go
  pkg/internal/service/files.go
  pkg/internal/service/stats.go
  pkg/internal/storage/mq/mq.go
  pkg/internal/types/stats.go
  pkg/queue/events.go
  pkg/queue/payloads.go
  pkg/queue/queue.go
  pkg/queue/topics.go
Due: golangci-lint, golangci-lint-fmt

feat(scheduler): 添加调度器功能，支持定时任务管理和相关API路由
  go.mod
  go.sum
  pkg/api/api.go
  pkg/app/app.go
  pkg/internal/handle/scheduler.go
  pkg/internal/router/scheduler.go
  pkg/middleware/scheduler.go
  pkg/scheduler/scheduler.go
Due: golangci-lint, golangci-lint-fmt, go-mod-tidy

feat(event): 在文件服务中集成事件发布功能，记录对象存储的访问与操作事件。添加事件发布配置，支持对象存储事件的管理与控制。
  .goreleaser.yaml
  Dockerfile
  pkg/configs/config.go
  pkg/configs/events.go
  pkg/internal/service/files.go
  pkg/internal/service/files_download.go
  pkg/internal/service/files_operations.go
  pkg/internal/service/files_upload.go
  pkg/internal/service/files_versions.go
  pkg/queue/events.go
  pkg/queue/payloads.go
  pkg/queue/queue.go
Due: golangci-lint, golangci-lint-fmt

feat(jobs): 添加定时任务管理功能，支持回收站清理和数据同步任务。注册调度相关路由，仅限管理员访问。添加角色中间件，支持角色权限管理
  pkg/api/api.go
  pkg/app/app.go
  pkg/internal/jobs/cron.go
  pkg/internal/jobs/names.go
  pkg/internal/router/router.go
  pkg/middleware/role.go
Due: golangci-lint, golangci-lint-fmt

feat(auth): 添加统一身份认证功能，支持 oauth2-proxy 注入的请求头，配置可跳过特定路径
  pkg/app/app.go
  pkg/configs/auth.go
  pkg/configs/config.go
  pkg/internal/handle/handle.go
  pkg/middleware/auth.go
  pkg/middleware/role.go
Due: golangci-lint, golangci-lint-fmt
